@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@import url(http://fonts.googleapis.com/css?family=Questrial);

body {
    background-color: #d1fb67;
}

.titulo{
    position:relative;
    font-size: 23pt;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    color: #6965a0;
    top: 10px;
    margin-bottom: 70px;
    left: 20px;
}


label{
    font-size: 14.5pt;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    color: #808080;
   margin-right: 5px;
}



div.container{
    border-top: 1px solid #6965a0;
    width: 1100px;
    text-align: center;
}
div.container h3{
    font-size: 15pt;
    color: #808080;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family:'Questrial', sans-serif;
    
}

div.container h3#fim{
    margin-top: 58px;
    font-size: 19pt;
    color: #817c7c;
    font-family:'Questrial', sans-serif;
}

Input[type="text"]{
    height: 27px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.button{
    position: relative;
    left:880px;
    top: 30px;    
    background-color: #33cbb4;  
    box-shadow: 1px 3px 1px #28b06d;  
    border: none;
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
    padding: 14px 9px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    font-size: 12pt;
    line-height: 14px;
    margin-bottom: 100px;
}

.buttonSubmit{
    position:relative;
    top: 30px;
    left: 520px;
    background-color: #33cbb4;  
    box-shadow: 0px 2px 0px #28b06d; 
    border:none;
    border-radius: 3px;
    padding: 15px 20px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    cursor: pointer;
    font-size: 12pt;
    line-height: 14px;
    margin-bottom: 80px;
}