@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);

body{

}

section#indexCorpo{
    width: auto;
    height: auto;
    margin-bottom: 45px;
}

div.backImagem{
    width: 600px;
    position:relative;
    background-color: #e0dcdc;
    background-color: #888888;
    height: 250px;
    left: 120px;
    margin-top: 40px;
    
}

div.backImagem2{
    width: 600px;
    position:relative;
    left: 120px;
    height: 251px;
    margin-top: 40px;
    background-color: #9c856b;
}

a#linkImagem{
    display: inline-block;
    font-weight: bolder;
    margin-top: 10px;
    color: rgba(255,165,20,1);
}

a#linkImagem:hover{
    color: #e9bc5f;
}

h1.indexTitulo{
    position:absolute;
    z-index:3;
    bottom: 170px;
    left: 70px;
    color: #ffffff; 
    font-family:'Ubuntu Condensed';
    font-size: 22pt;
}

p.imagemP{
    text-indent: 40pt;
     position:absolute;
    text-align: justify;
    z-index:3;
    bottom: 30px;
    left: 40px;
    color: #ffffff;
    width:470px;
    font-size: 18pt;
  font-family:'Ubuntu Condensed';
}

img.fundoImagem{
    position:relative;
    left: 600px;

}