@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Questrial);



section#corpoA{
    position:relative;
    display: block;
    width:700px;
    height: auto;
    
}

div#tituloA{
    position:relative;
    margin-top: 20px;
    left: 220px;
    font-size: 18.5pt;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #2a292b;
    color: #c7c1c1;
    font-weight: bold;
    text-align:center;
}

div#infoA{
    margin-top: 50px;
    left: 220px;
    font-size: 15.5pt;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #2a292b;
    text-shadow: 0px 1px 1px #808080;
    font-weight: bold;
    text-align:center;
}

div#btn_imgTutorial {
    
    position:relative;
    top:90px;
   left: 400px;
   margin-right: 70px;
   height:250px;

}

.img_btnTutorial{
    margin-right:20px;
}

