@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

body {
    
}

h1{
    margin-left: 80px;
    font-size: 32pt;
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
    color: #ff9828;
  
}

label{
    margin-left: 138px;
    color:#7ec2bc;
    font-family:'Oswald';
}
.plus{
    position: relative;
     width: 30px;
     top:5px;
     left: 16px;
     margin-right: 25px;         
}

.lista table{
    position:relative;
    border: 2px solid #e6dfdf;
    border-radius: 5px;
    border-spacing: 0px;
}

.lista td
{
    text-align:left;
    line-height: 40px;
    width:150px;
    height: 40px;
    border:2px solid #c8c1c1;
    border-radius: 2.3px;
    color: #8497a3;
    padding: 5px;
    font-weight: bold;
   font-family: 'Titillium Web';
}

