label, input, button{
	display: block;
	padding: 8px;
}


section#corpo{
	display: inline-block;
}

input{
	border: 1px solid #0094ff;	
}

input:hover{
	background-color: #dfe4e8;
}

article#cadastro{

	position: relative;
	left: 50px;
	bottom: 10px;
}

article#cadastro h1{
	font-size: 14pt;
}

article#cadastro h2{
	font-size: 13pt;
}

aside#logartela{
	position: relative;
	left: 50px;
	bottom: 10px;
	
}

button#btnEnviar{
	margin-top: 3px;
	position: relative;
	width:70px;
	height: 40px;
	left: 118px;
	background-color: #dfe4e8;
}

img#logoFacebook{
	width: 40px;
	height:30px;
}

